<%- include('head') %>
<body>
    <header>Here is your TodoList</header>
    <ol>
        <% ListEntries().forEach(function (entry) { %>
            <li> <%= entry %> </li>
        <% }); %>
    </ol>
</body>