<%- include('head') %>
<body>
    <h2>Here is your TodoList</h2>
    <% if (ListEntries) { %>
    <ol>
        <% ListEntries.forEach(function (entry) { %>
            <li> <%= entry %> </li>
        <% }); %>
    </ol>
    <% } else { %>
        <h4>You TodoList is empty</h4>
    <% } %>
</body>
</html>